.button {
   font-family: var(--Font-Primary);
   font-size: 1rem;
   font-weight: 700;
   color: var(--Color-White);
   background: var(--Color-Blue);
   border-radius: 255px;
}

.button.big {
    padding: 0 2rem;
    height: 3.0625rem;
}

.button.small {
    padding: 0 1.5rem;
    height: 2.1875rem;
}

.button.full{
    width: 100%;
}
